body {
    background: #545454;
}
.sidenav a {
    position: absolute;
    left: -160px;
    transition: .3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-size: 50px;
    color: #fff;
    border-radius: 0 15px 15px 0;
}
.sidenav a:hover {
    left: 0;
}
.home {
    top: 140px;
    background-color: #2196f3;
}
.blog {
    top: 240px;
    background-color: #f44336;
}
.contact {
    top: 340px;
    background-color: #fdf308;
}
.about {
    top: 440px;
    background-color: #2196f3;
}
.heading {
    font-size: 6vh;
    margin-left: 230px;
    margin-top: 200px;
}